body{
    background-color: #013A6B;
    background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
    
}

h2{
    text-align: center;
    color: white;
    margin: 0 auto;
    text-transform: uppercase;
}

.contact{
    padding-left: 20%;
    margin-left:10%
}

input,textarea{
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    text-align: center;
}

.form-control{
    width: 60%;
}

button{
    width: 50%;
    margin-left: 5%
}