h3{
    text-align: center;
    background-color: black;
    color: white;
    margin: 0 auto;
}
.contact{
    padding-left: 20%;
}
input,textarea{
    width: 75%;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    text-align: center;
}
button{
    width: 75%;
}